{
  "openapi": "3.0.0",
  "info": {
    "title": "Salt Edge Partners API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://www.saltedge.com/api/partners/v1"
    }
  ],
  "paths": {
    "/countries": {
      "get": {
        "summary": "List of Countries",
        "description": "Returns a list of countries supported by Salt Edge Partners API.",
        "parameters": [
          {
            "name": "include_fake_providers",
            "in": "query",
            "description": "Whether you wish to fetch the fake countries.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the country"
                          },
                          "code": {
                            "type": "string",
                            "description": "Country code as stated in ISO 3166-1 alpha-2"
                          },
                          "refresh_start_time": {
                            "type": "integer",
                            "description": "Local country time when connections will be automatically refreshed. Possible values: 0 to 23"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AppIdHeader": [],
            "SecretHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "App-id"
      },
      "SecretHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Secret"
      }
    }
  }
}
