{
  "openapi": "3.0.0",
  "info": {
    "title": "SaltEdge Providers API",
    "version": "1.0.0",
    "description": "API for fetching providers."
  },
  "servers": [
    {
      "url": "https://www.saltedge.com/api/partners/v1"
    }
  ],
  "components": {
    "schemas": {
      "ProviderMode": {
        "type": "string",
        "enum": ["oauth", "web", "api", "file"]
      }
    }
  },
  "paths": {
    "/providers": {
      "get": {
        "summary": "Fetch a list of providers.",
        "parameters": [
          {
            "name": "from_id",
            "in": "query",
            "description": "The id of the record starting the next page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filtering providers created or updated starting from this date.",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Filtering providers by country.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Filtering providers by mode.",
            "schema": {
              "$ref": "#/components/schemas/ProviderMode"
            }
          },
          {
            "name": "include_fake_providers",
            "in": "query",
            "description": "Whether you wish to fetch the fake providers.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_payments_fields",
            "in": "query",
            "description": "Whether you wish to include supported_payment_fields and required_payment_fields.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "111111111111111111",
                      "code": "fakebank_image_xf",
                      "name": "Fake Bank with Image",
                      "mode": "web",
                      "status": "active",
                      "automatic_fetch": false,
                      "customer_notified_on_sign_in": true,
                      "interactive": true,
                      "identification_mode": "saltedge",
                      "instruction": "Please fill in all the fields.",
                      "home_url": "http://example.com",
                      "login_url": "http://example.com/login",
                      "logo_url": "https://cdn.com/logos/providers/xf/fake.svg",
                      "country_code": "XF",
                      "refresh_timeout": 60,
                      "holder_info": ["names", "emails", "phone_numbers"],
                      "max_consent_days": 10,
                      "created_at": "2023-10-20T15:29:39Z",
                      "updated_at": "2023-10-25T15:29:39Z",
                      "timezone": "Europe/London",
                      "max_interactive_delay": 480,
                      "optional_interactivity": true,
                      "regulated": false,
                      "max_fetch_interval": 60,
                      "supported_fetch_scopes": ["accounts", "transactions"],
                      "supported_account_extra_fields": [],
                      "supported_transaction_extra_fields": [],
                      "supported_account_natures": ["account", "card"],
                      "supported_account_types": ["personal"],
                      "identification_codes": ["123123"],
                      "bic_codes": ["ABCDEFGH"],
                      "supported_iframe_embedding": true
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No providers found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}
