{
  "openapi": "3.0.0",
  "info": {
    "title": "SaltEdge Provider Show API",
    "version": "1.0.0",
    "description": "API for inspecting a single provider."
  },
  "servers": [
    {
      "url": "https://www.saltedge.com/api/partners/v1"
    }
  ],
  "paths": {
    "/providers/{provider_code}": {
      "get": {
        "summary": "Get details of a single provider.",
        "parameters": [
          {
            "name": "provider_code",
            "in": "path",
            "required": true,
            "description": "Provider’s code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_fake_providers",
            "in": "query",
            "description": "Whether you wish to fetch the fake providers.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "111111111111111111",
                    "code": "fakebank_interactive_xf",
                    "name": "Fake Bank with SMS",
                    "mode": "web",
                    "status": "active",
                    "automatic_fetch": false,
                    "interactive": true,
                    "instruction": "Valid credentials for this provider are:\nlogin - any string which starts with \"username\",\npassword - \"secret\",\nsms - \"123456\"\n",
                    "refresh_timeout": 5,
                    "customer_notified_on_sign_in": false,
                    "home_url": "http://example.com",
                    "login_url": "http://example.com/login",
                    "forum_url": "https://www.saltedge.com/support_requests/new?provider_code=fakebank_interactive_xf",
                    "logo_url": "https://d1uuj3mi6rzwpm.cloudfront.net/logos/providers/xf/fakebank_interactive_xf.svg",
                    "country_code": "XF",
                    "created_at": "2020-03-19T17:55:44Z",
                    "updated_at": "2020-03-07T09:57:26Z",
                    "timezone": "UTC",
                    "holder_info": [],
                    "max_consent_days": null,
                    "identification_mode": "saltedge",
                    "max_interactive_delay": 180,
                    "optional_interactivity": false,
                    "regulated": false,
                    "max_fetch_interval": 60,
                    "supported_fetch_scopes": ["accounts", "transactions"],
                    "supported_account_natures": ["account", "card"],
                    "supported_account_types": ["personal"],
                    "identification_codes": ["123123"],
                    "bic_codes": ["ABCDEFGH"],
                    "supported_iframe_embedding": true,
                    "supported_account_extra_fields": [
                      "account_name",
                      "account_number",
                      "card_type",
                      "cards",
                      "client_name",
                      "iban",
                      "sort_code",
                      "status",
                      "swift"
                    ],
                    "supported_transaction_extra_fields": [
                      "convert",
                      "original_amount",
                      "original_currency_code",
                      "payee",
                      "posting_date",
                      "transfer_account_name"
                    ],
                    "required_fields": [
                      {
                        "name": "login",
                        "english_name": "Login",
                        "localized_name": "Login",
                        "nature": "text",
                        "position": 1,
                        "optional": false,
                        "extra": {}
                      },
                      {
                        "name": "password",
                        "english_name": "Password",
                        "localized_name": "Password",
                        "nature": "password",
                        "position": 2,
                        "optional": false,
                        "extra": {}
                      }
                    ],
                    "interactive_fields": [
                      {
                        "name": "sms",
                        "english_name": "SMS code",
                        "localized_name": "SMS code",
                        "nature": "number",
                        "position": 1,
                        "optional": false,
                        "extra": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Provider not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}
